@import '@styles/variables/variables.scss';
@import '@styles/mixins/mixins.scss';

.catalog {
    margin-left: 20px;
    position: relative;

    &__btn {
        @include primary-btn;

        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 10px;
    
        >svg {
            font-size: 24px;
            color: inherit;
        }
    
        >p {
            @include body-20;
    
            margin-left: 10px;
            color: inherit;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: calc(100% + 30px);
        left: 0;
        background: $colorWhite;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        padding: 10px 0 20px;
        border-radius: 10px;
        width: 800px;
        cursor: auto;
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0 20px;

        >svg {
            color: $colorBlack;
            cursor: pointer;
            font-size: 24px;
        }
    }

    &__product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 50%;
        color: $colorBlack;
        text-decoration: none;
        padding: 5px 20px;
        transition: .2s;

        &:hover {
            background: rgba($colorBlack, .1);
        }

        >svg {
            margin-left: 10px;
            font-size: 16px;
        }
    }
}

@import './CatalogResponsive.scss';
