@import './../../styles/variables/variables.scss';

.home {
    .phones-swiper {
        margin-top: 120px;
        margin-bottom: 120px;

        &__body {
            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 25px;
                    height: 25px;
                    border: 2px solid $colorLightYellow;
                    background: none;
                
                        &-active {
                            background: $colorLightYellow;
                        }
                }
            }
        }
    
        &__slide {
            width: 100%;
            height: auto;
        }
    }
}

@import './HomeResponsive.scss';
