@media($mediaXl) {
    .home {
        .phones-swiper { 
            margin-top: 90px;
            margin-bottom: 90px;
        }
    }
}

@media($mediaMd) {
    .home {
        .phones-swiper { 
            margin-top: 60px;
            margin-bottom: 60px;

            &__body {
                .swiper-pagination {
                    bottom: 5px;

                    .swiper-pagination-bullet {
                        width: 15px;
                        height: 15px;
                        border-width: 1px;
                    }
                }
            }
        }
    }
}
