@import './../../styles/variables/variables.scss';

.swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    border: 2px solid $colorSwiperBullet;
    background-color: none;
        &-active {
            background-color: $colorSwiperBullet;
        }
}

.phones-swiper {
   &__slide-picture {
        width: 100%;
        object-fit: cover;
    }
}
