@import '../../../styles/variables/variables.scss';

.product-category {
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }
}

@import './ProductCategoryResponsive.scss';
