@media($mediaXl) {
    .product-category {
        margin-bottom: 90px;

        &__title {
            margin-bottom: 40px;
        }
    }
}

@media($mediaMd) {
    .product-category {
        margin-bottom: 60px;
        
        &__title {
            margin-bottom: 30px;
        }
    }
}
