@media($mediaMd) {
    .header {
        height: 60px;

        &__search {
            position: absolute;
            z-index: 2;
            left: 250px;
            width: calc(100% - 265px); 
        }
    
        &__avatar {
            margin-left: auto;
            width: 30px;
            height: 30px;

            >svg {
                font-size: 20px;
            }
        }
    
        &__basket {
            margin-left: 10px;

            >img {
                width: 30px;
                height: 30px;
            }
        }
    
        &__basket-amount {
            transform: translate(30%, -30%);
        }
    }
}

@media($mediaSm) {
    .header {
        &__search {
            left: 150px;
            width: calc(100% - 165px); 
    
            > input {
                width: 100%;
                max-width: 200px;
                border-radius: 10px;
                padding-left: 10px;
            }
        }
    }
}
