@import '@styles/variables/variables.scss';
@import '@styles/mixins/mixins.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $colorWhite;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 60px 0px #00000026;
    height: 80px;
    z-index: 199;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
    }

    &__search {
        margin-left: auto;
        width: 300px;
    }

    &__avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $colorBlack;
        cursor: pointer;

        >svg {
            font-size: 24px;
            color: $colorBlack;
        }
    }

    &__basket {
        position: relative;
        margin-left: 20px;
        margin-right: 0;
        cursor: pointer;
    }

    &__basket-amount {
        position: absolute;
        top: 2px;
        right: 6px;
        transform: translate(50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $colorBlue;

        p {
            font-size: 0.75rem;
            line-height: 1;
            color: $colorWhite;
        }
    }
}

@import './HeaderResponsive.scss';
