@import '../../styles/variables/variables.scss';
@import '../../styles/mixins/mixins.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $colorWhite;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 60px 0px #00000026;
    height: 80px;
    z-index: 199;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
    }

    &__catalog {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 1px solid $colorBlack;
        border-radius: 10px;
        margin-left: 20px;
        background: $colorBlue;
        cursor: pointer;
        transition: .2s;

        &:hover {
            opacity: .7;
        }

        p {
            @include body-20;

            margin-left: 10px;
        }
    }

    &__search {
        margin-left: auto;
        width: 300px;
    }

    &__avatar {
        margin-left: 20px;
        margin-right: 0;
    }

    &__basket {
        position: relative;
        margin-left: 20px;
        margin-right: 0;
    }

    &__basket-amount {
        position: absolute;
        top: 4%;
        right: 4%;
        transform: translate(50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $colorBlue;

        p {
            font-size: 0.75rem;
            line-height: 1;
            color: $colorWhite;
        }
    }
}

@import './HeaderResponsive.scss';
