@import '../../../styles/variables/variables.scss';
@import '../../../styles/mixins/mixins.scss';

.product-card {
/*     width: calc(100% / 3 - 40px); */
    background-color: $colorWhite;
    border-radius: 35px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__picture {
        margin: 0 auto;
    }

    &__description {
        @include body-20;

        min-height: 3.5rem;
        margin-top: 20px;
    }

    &__price {
        margin-top: 10px;
        font-weight: 700;
    }

    &__btn {
        @include primary-btn;

        margin-top: 20px;
    }
}
