@import '../../../styles/variables/variables.scss';
@import '../../../styles/mixins/mixins.scss';

.product {
    width: calc(100% / 3 - 40px);
    background-color: $colorWhite;
    border-radius: 35px;
    padding: 20px;

    &__picture {
        margin: 0 auto;
    }

    &__title {
        @include body-20;

        min-height: 3.5rem;
        margin-top: 20px;
    }

    &__price {
        font-weight: 700;
    }

    &__btn {
        @include body-20;

        color: $colorWhite;
        background-color: $colorBlue;
        padding: 15px 32px;
        border-radius: 25px;
        border: none;
        margin-top: 20px;
        cursor: pointer;
    }
}
