@import "../../styles/variables/variables.scss";

.search {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $colorBlack;

    &--open {
        border-bottom-color: transparent;
        border-radius: 10px 10px 0px 0px;
    }

    >input {
        width: 100%;
        height: 38px;
        border: none;
        border-radius: 0 10px 10px 0;
        padding-right: 10px;
        background: none;
        font-size: 1rem;
        font-weight: 400;
    }
    
    >img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .suggest-list {
        width: calc(2px + 100%);
        max-height: 200px;
        overflow: auto;
        position: absolute;
        top: 38px;
        background-color: $colorWhite;
        border: 1px solid $colorBlack;
        border-top: none;
        margin-left: -1px;
        padding-bottom: 5px;
        border-radius: 0px 0px 10px 10px;

        >li {
            margin: 5px 0px;
            padding: 5px 10px;
            transition: .2s;
            cursor: pointer;
            
            &:hover {
                background-color: rgba($colorBlack, .1);
            }

            &.suggest-list__no-result {
                cursor: auto;
                background-color: transparent;
            }
        }
        
        a {
            color: $colorBlack;
            text-decoration: none;
        }
    }
}
